@import url("../../../../node_modules/currency-flags/dist/currency-flags.min.css");
* {
    margin: 0;
    padding: 0;
}

.main-container {
    .header {
        width: 100%;
        height: 50px;
        background-color: rgb(249, 241, 241);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 100px;
        padding-right: 100px;
        background: linear-gradient( to bottom, rgb(199, 166, 166, 1) 0%, rgba(185, 161, 161, 0.5) 40%, rgb(255, 255, 255, 1) 100%);
        header {
            img {
                width: 100px;
                height: 100px;
                cursor: pointer;
            }
        }
        button {
            background: initial;
            border: none;
            font-size: 14px;
            transition: .2s;
            &:hover {
                color: rgb(23, 162, 184);
                transition: .2s;
            }
        }
        .burger {
            width: 25px;
            height: 25px;
            margin-left: -65px !important;
            right: 2%;
            background-image: url('../../../assets/images/menu.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            cursor: pointer;
            display: none;
        }
    }
    .content {
        width: 100%;
        height: 100%;
        display: flex;

        .changeLeftSectionCss {
            input {
                color: white !important;
            }

            width: 100% !important;
            height: 100vh !important;
            padding: 0 20%;

            .underline {
                button {
                    margin: 27px 0 20px 0;
                }
            }

        }

        .left-section {
            width: 25%;
            height: 100%;
            position: -webkit-sticky;
            position: sticky;
            top: 0;
            left: 0;
            .main {
                // margin-top: 10%;
                p {
                    text-align: center;
                    span {
                        font-size: 14px;
                        &:first-child {
                            font-family: 'Roboto', sans-serif;
                            color: green;
                            font-size: 18px;
                        }
                    }
                }
                h2 {
                    top: 0%;
                    text-align: center;
                }
                .container {
                    // background-color: red;
                    .row {
                        .first-inp {
                            display: flex;
                            justify-content: space-around;
                            align-items: center;
                            margin-top: 10px;
                            input {
                                background: initial;
                                border: none;
                                border-bottom: 1px dotted rgb(94, 94, 94);
                                outline: none;
                                cursor: pointer;
                            }
                            input::-webkit-outer-spin-button,
                            input::-webkit-inner-spin-button {
                                -webkit-appearance: none;
                                margin: 0;
                            }
                            /* Firefox */
                            input[type=number] {
                                -moz-appearance: textfield;
                            }
                            option {
                                border: 1px solid #e5e5e5;
                                // padding: 10px;
                            }
                            select {
                                text-align: center;
                                padding: 3px;
                                margin: 0;
                                -webkit-border-radius: 4px;
                                -moz-border-radius: 4px;
                                border-radius: 4px;
                                -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
                                -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
                                box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
                                background: #f8f8f8;
                                color: #888;
                                border: none;
                                outline: none;
                                display: inline-block;
                                -webkit-appearance: none;
                                -moz-appearance: none;
                                appearance: none;
                                cursor: pointer;
                            }

                            /* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
                            @media screen and (-webkit-min-device-pixel-ratio:0) {
                                select {
                                    padding-right: 18px
                                }
                            }
                            label {
                                position: relative
                            }
                            label:after {
                                content: '<>';
                                font: 11px "Consolas", monospace;
                                color: #aaa;
                                -webkit-transform: rotate(90deg);
                                -moz-transform: rotate(90deg);
                                -ms-transform: rotate(90deg);
                                transform: rotate(90deg);
                                right: 8px;
                                top: 2px;
                                padding: 0 0 2px;
                                border-bottom: 1px solid #ddd;
                                position: absolute;
                                pointer-events: none;
                            }
                            label:before {
                                content: '';
                                right: 6px;
                                top: 0px;
                                width: 20px;
                                height: 20px;
                                background: #f8f8f8;
                                position: absolute;
                                pointer-events: none;
                                display: block;
                            }
                        }
                    }
                    .underline {
                        button {
                            margin-left: 40px;
                            margin-top: 20px;
                            width: 150px;
                            height: 30px;
                            font-size: 12px;
                        }
                    }
                    .output {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 15px;
                        margin-top: 10px;
                        margin-left: -35px;
                        select {
                            margin-top: -10px;
                        }
                        option {
                            border: 1px solid #e5e5e5;
                            padding: 10px;
                        }
                        select {
                            font-size: 14px;
                            border: none;
                            // width: 100%;
                            background: white;
                            outline: none;
                            &::-webkit-scrollbar {
                                width: 2px;
                                height: 2px;
                                background-color: rgb(78, 78, 78);
                                /* or add it to the track */
                            }
                            /* Add a thumb */
                            &::-webkit-scrollbar-thumb {
                                background: white;
                            }
                        }
                    }
                }
            }
        }
        .right-section {
            width: 100%;
            height: 100%;
            margin-right: 15px;
            // overflow: scroll;
            // padding-left: 300px;
        }
        // .burger-section {
        //     position: fixed;
        //     right: 4%;
        //     top: 10%;
        //     background-color: wheat;
        //     width: 40%;
        //     height: 80%;
        //     // backdrop-filter: blur(10px);
        // }
    }
}



@media screen and (max-width:850px) {
    .main-container {
        .header {
            .burger {
                display: block;
            }
            button {
                display: none;
            }
        }
        .content {
            padding-left: 20px;
            // .left-section {
            //     display: none;
            // }
        }
    }
}

@media screen and (max-width:500px) {
    html {
        font-size: 12px;
    }
    .header {
        width: 100%;
    }
}