.container {
    .row {
        .first-inp {
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-top: 10px;
            margin-left: -5px;
            input {
                background: initial;
                border: 1px solid black;
                border-radius: 3px;
                outline: none;
                cursor: pointer;
            }
            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
            /* Firefox */
            input[type=number] {
                -moz-appearance: textfield;
            }
            option {
                border: 1px solid #e5e5e5;
                padding: 10px;
            }
            select {
                font-size: 14px;
                border: none;
                // width: 100%;
                background: white;
                outline: none;
                margin-left: 10px;
                &::-webkit-scrollbar {
                    width: 2px;
                    height: 2px;
                    background-color: rgb(78, 78, 78);
                    /* or add it to the track */
                }
                /* Add a thumb */
                &::-webkit-scrollbar-thumb {
                    background: white;
                }
            }
            .x {
                color: red;
                cursor: pointer;
                font-size: 18px;
            }
        }
    }
}