@import url("../../../../node_modules/currency-flags/dist/currency-flags.min.css");

.navigation {
    margin-top: 10px;
    padding-left: 5px;
    display: flex;
    justify-content: flex-start;
    gap: 40px;
    list-style-type: none;
    height: 30px;


    li {
        font-size: 1rem;
        cursor: pointer;
        height: 100%;
        &.active {
            border-bottom: 2px solid #b9c9da;
        }
    }
}

.page {
    .search {
        display: flex;
        justify-content: space-between;
        position: sticky;
        top: 0px;
        background-color: #f9f1f1;
        cursor: pointer;
        z-index: 2;
        border-radius: 10px;
        padding-right: 20px;
        .input {
            margin-left: 5px;
            padding: 10px;
            label {
                font-family: "Roboto-Medium", sans-serif;
                font-size: 12px;
                color: black;
                letter-spacing: 2px;
            }
            input {
                font-size: 12px;
                font-family: "Roboto-Medium", sans-serif;
                color: black;
                border: none;
                width: auto;
                max-width: 300px;
                height: 40px;
                outline: none;
                margin-left: 20px;
                background-color: initial;
            }
        }
        .curency_option {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 5px;
            p {
                &:first-child {
                    font-size: 12px;
                    font-family: "Roboto-Medium", sans-serif;
                    color: black;
                    margin: 0 5px 0 5px;
                }
                &:last-child {
                    margin-top: 15px;
                    font-size: 12px;
                    font-family: "Roboto-Medium", sans-serif;
                    color: black;
                }
            }
        }
    }
    .table {
        thead {
            border-bottom: none;
            tr {
                margin-bottom: 50px;
                border-style: hidden !important;
                th {
                    font-size: 13px;
                    font-family: "Roboto-Regular", sans-serif;
                    color: white;
                    i {
                        color: black;
                    }
                    // &:nth-child(2) {
                    //     //margin-left: -50px !important;
                    // }
                    &:not(:first-child) {
                        position: relative;
                        //left: -40px;
                    }
                }
            }
        }
        tbody {
            border-top: none;
            tr {
                td {
                    position: relative;
                    margin: 10px 15px 5px 15px;
                    &:first-child {
                        span {
                            margin-left: 15px;
                        }
                    }
                    font-size: 14px;
                    font-family: "Roboto-Medium",
                    sans-serif;
                    //line-height: 12px;
                    color:black;
                    div {
                        font-size: 24px;
                    }
                }
                #second-child {
                    position: relative;
                    //right: 100px;
                }
            }
            .overlay {
                position: fixed;
                left: 0;
                bottom: 0;
                height: 100px;
                width: 100%;
                background: linear-gradient( to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
            }
        }
    }
}