<div class="burger-section">
    <header>
        <img src="./././assets/images/logo-removebg-preview.png" alt="icon">
    </header>
    <div class="table">
        <div class="left">
            <div class="weather" (click)="close()" routerLink="/Prognozi">
                <div class="div1"></div>
                <p>ამინდის პროგნოზი</p>
            </div>
            <div class="currency" (click)="showCurrencyConventer()">
                <div class="div2"></div>
                <p>ვალუტის კონვერტაცია</p>
            </div>
            <div class="currency" (click)="showCurrencyConventer()">
                <div class="div2-1"></div>
                <p>საფონდო ბირჟა</p>
            </div>
            <div class="map" (click)="close()" routerLink="/Maps">
                <div class="div3"></div>
                <p> რუკა</p>
            </div>
        </div>
    </div>
</div>