<div class="burger-section">
    <header>
        <img src="./././assets/images/logo-removebg-preview.png" alt="icon">
    </header>
    <ul>
        <li>
            <p routerLink="/Prognozi" (click)="close()">ამინდის პროგნოზი</p>
            <div class="div1"></div>
        </li>
        <li>
            <p (click)="close()">ვალუტის კონვერტაცია</p>
            <div class="div2"></div>
        </li>
        <li>
            <p routerLink="/Maps" (click)="close()">რუკა</p>
            <div class="div3"></div>
        </li>
    </ul>
</div>